article { 
  width: 80%rem ;
  margin-top: 1em;
  border: 0.21em solid #ccc;
  padding-left: 1em;
  padding-right: 1em;
  margin: 1em;
}

#tweets-container {
  display: flex; /* loading.io/flexbox */
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  width: 100% rem;
}

.tweet {
  width: auto rem;
  border: #545149 solid 3px;
}

article:hover {
  box-shadow: 5px 10px #888888;
}

article header pre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

article header img {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
}

article footer {
  color: #545149;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


