#main-header {
  height: 20%;
  display: flex; /* loading.io/flexbox */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  align-content: center;
  background-color: rgba(216, 167, 35, 0.712);
  background-image: url(/images/foggy-birds.png);
}
  /* Tablet: minimum width of 768px to maximum width of 1024px */
  @media only screen and (max-width: 768px) {
    nav {
      background-color: rgba(216, 167, 35, 0.712);
    }

    #main-header {
      max-width: 100%;
      min-width: 100%;
      height: 100%;
      margin-top: 0em;
      margin-left: 0em;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1920px) {
    #main-header {
      max-width: 30%;
      min-width: 10%;
      height: 100%;
      margin-top: 5%;
      margin-left: 5%;
    }
  }


