.new-tweet{
  padding: 1em;
}

.new-tweet textarea {
  width: 100%;
  height: 5em;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
}

.new-tweet textarea::placeholder {
  font-size: 18px;
  color:black;
}

.new-tweet hr {
  height:4px;
  border-width:0;
  color:rgb(0, 0, 0);
  background-color:rgb(0, 0, 0)
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
}

.new-tweet button.error{
  background-color:red;
  color:rgb(255, 255, 255);
  border-color:red;
  border-width:1px;
  border-style:solid;
  border-radius:5px;
  padding:5px;
  font-size:0.9em;
  font-weight:bold;
  cursor:pointer;
}

.new-tweet button {
  background-color:#4056A1;
  color:rgb(255, 255, 255);
  border-color:#4056A1;
  border-width:1px;
  border-style:solid;
  border-radius:5px;
  padding:5px;
  font-size:1.2em;
  font-weight:bold;
  cursor:pointer;
}

